<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>

  <body>
    
    <header class="container">
      <h1>API Project: Exercise Tracker</h1>
    </header>
    
    <main class="container">
      
      <h2>User Stories:</h2>
      <ol class="user-stories">
        <li>I can create a user by posting form data <code>username</code> to <code>[base url]/api/exercise/new-user</code> and returned will be an object with <code>username</code> and <code>_id</code>.</li>
        <li>I can get an array of all users by getting <code>[base url]/api/exercise/users</code> with the same info as when creating a user.</li>
        <li>I can add an exercise to any user by posting form data <code>userId(_id)</code>, <code>description</code>, <code>duration</code>, and optionally <code>date</code> to <code>[base url]/api/exercise/add</code>. If no date is supplied it will use the current date. Returned will be the <code>user</code> object with the <code>exercise</code> fields added.</li>
        <li>I can retrieve a full exercise log of any user by getting <code>[base url]/api/exercise/log</code> with a parameter of <code>userId(_id)</code>. Returned will be the <code>user</code> object with added array <code>log</code> and <code>count</code> (total exercise count).</li>
        <li>I can retrieve part of the log of any user by also passing along optional parameters of <code>from</code> & <code>to</code> or <code>limit</code>. (Date format yyyy-mm-dd, limit = int)</li>
      </ol>
      
      <hr>
      
      <h2>API:</h2>
      <h3>Create user or exercise:</h3>
      <form action="/api/exercise/new-user" method="post">
        <h3>Create a new user</h3>
        <p><code>POST /api/exercise/new-user</code></p>
        <input id="uname" type="text" name="username" placeholder="Username *">
        <input type="submit" value="Submit">
      </form>
      <form action="/api/exercise/add" method="post">
        <h3>Add an exercise to a user</h3>
        <p><code>POST /api/exercise/add</code></p>
        <input id="uid" type="text" name="userId" placeholder="UserID *">
        <input id="desc" type="text" name="description" placeholder="Description *">
        <input id="dur" type="text" name="duration" placeholder="Duration (minutes) *">
        <input id="dat" type="text" name="date" placeholder="Date (yyyy-mm-dd)">
        <input type="submit" value="Submit">
      </form>
      <p>* Required Fields</p>
      
      <h3>Show users or exercises:</h3>
      <form action="/api/exercise/users" method="get">
        <h3>Show all users</h3>
        <p><code>GET /api/exercise/users</code></p>
        <input type="submit" value="Submit">
      </form>
      <form action="/api/exercise/log" method="get">
        <h3>Show a users exercise log</h3>
        <p><code>GET /api/exercise/log</code></p>
        <input id="userId" type="text" name="userId" placeholder="UserID *">
        <input id="from" type="text" name="from" placeholder="From (yyyy-mm-dd)">
        <input id="to" type="text" name="to" placeholder="To (yyyy-mm-dd)">
        <input id="limit" type="text" name="limit" placeholder="Limit (number)">
        <input type="submit" value="Submit">
      </form>
      <p>* Required Fields</p>
      
    </main>
      
    <footer class="container">
      <hr>
      <p>
        by <a href="https://github.com/Myrmidonut/fcc_api_exercise_tracker" title="GitHub Repository" target="_blank">Frederik</a> | <a href="https://learn.freecodecamp.org/" title="Learn to code at freeCodeCamp" target="_blank">freeCodeCamp</a>
      </p>
    </footer>
      
  </body>
</html>